<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="stylesheets/style.css?ver=16.1" />
	</head>

	<body>
		<div class="container-regulamin">
			<h2>Regulamin</h2>
			<h4>1. Postanowienia ogólne</h4>
			<br />
			<p>
				1.1. Właścicielem sklepu internetowego jest Antoni Blonkowski, z siedzibą pod adresem: Ulica: Mławka 25,Numer
				lokalu: 25,Miasto: Mławka Kod pocztowy: 13--240 NIP: [5711727874], REGON: [528658529] <br />
				1.2. Kontakt ze sklepem możliwy jest poprzez adres e-mail: blonekdev@gmail.com lub telefonicznie pod numerem 698
				404 252. <br />
				1.3. Niniejszy regulamin określa zasady korzystania ze sklepu internetowego oraz warunki zakupu oferowanych
				produktów.
			</p>
			<br /><br />
			<h4>2. Dane kontaktowe</h4>
			<br />
			<p>
				2.1. Adres korespondencyjny: Ulica: Mławka 25,Numer lokalu: 25,Miasto: Mławka Kod pocztowy: 13--240 <br />
				2.2. Adres e-mail: blonekdev@gmail.com. <br />
				2.3. Numer telefonu: 698 404 252. <br />
			</p>
			<br /><br />
			<h4>Oferta i ceny</h4>
			<br />
			<p>
				3.1. Wszystkie ceny podane na stronie sklepu są cenami brutto (zawierają podatek VAT) i wyrażone są w złotych
				polskich (PLN). 3.2. Całkowity koszt zamówienia, w tym podatek, koszty dostawy i inne dodatkowe opłaty, zostanie
				przedstawiony w podsumowaniu zamówienia. 3.3. Sklep zastrzega sobie prawo do zmiany cen e-booków,
				przeprowadzania i odwoływania promocji oraz wyprzedaży.
			</p>
			<br /><br />
			<h4>Opis oferowanych produktów</h4>
			<p>
				4.1. Oferowane e-booki są dokładnie opisane, w tym: nazwa, opis głównej cechy użytkowej, format (np. PDF, ePub,
				MOBI). 4.2. Jeśli dotyczy, podane są również dane techniczne oraz zdjęcie i nazwa producenta lub importera.
			</p>
			<br /><br />
			<h4>Płatności</h4>
			<br />
			<li>Przelew Bankowy</li>
			<li>PaySafeCard</li>
			<li>Kod BLIK</li>
			<br /><br />
			<h4>Dostawa</h4>
			<br />
			<p>
				6.1. Dostawa e-booków odbywa się drogą elektroniczną na adres e-mail podany przez klienta podczas składania
				zamówienia. 6.2. E-booki są dostarczane niezwłocznie po zaksięgowaniu płatności na koncie sklepu.
			</p>
			<br /><br />
			<h4>Realizacja Zamówienia</h4>
			<br />
			<p>
				7.1. Zamówienia można składać 24 godziny na dobę, 7 dni w tygodniu za pośrednictwem strony internetowej. 7.2.
				Realizacja zamówienia następuje po zaksięgowaniu płatności na koncie sklepu.
			</p>
			<h4>8. Reklamacje i zwroty</h4>

			<p>
				8.1. Zgodnie z art. 38 pkt 13 Ustawy o prawach konsumenta, e-booki nie podlegają zwrotom. 8.2. Reklamacje
				dotyczące zakupionych e-booków można zgłaszać na adres e-mail: blonekdev@gmail.com. 8.3. Reklamacje będą
				rozpatrywane w ciągu 14 dni roboczych od daty ich otrzymania. 8.4. W przypadku uznania reklamacji, sklep
				zobowiązuje się do dostarczenia klientowi e-booka wolnego od wad lub, jeśli to niemożliwe, do zwrotu kosztów
				zakupu.
			</p>

			<h4>9. Ochrona danych osobowych</h4>

			<p>
				9.1. Administratorem danych osobowych klientów jest [Antoni Blonkowski BLONEKDEV]. 9.2. Dane osobowe są
				przetwarzane wyłącznie w celu realizacji zamówienia oraz w celach marketingowych zgodnie z obowiązującymi
				przepisami prawa. 9.3. Klient ma prawo do wglądu w swoje dane osobowe, ich poprawiania oraz żądania usunięcia.
			</p>

			<h4>10. Postanowienia końcowe</h4>

			<p>
				10.1. Regulamin wchodzi w życie z dniem [03.06.2024] i obowiązuje przez czas nieokreślony. 10.2. Sklep zastrzega
				sobie prawo do zmiany regulaminu. Zmiany regulaminu wchodzą w życie w dniu ich publikacji na stronie
				internetowej sklepu. 10.3. W sprawach nieuregulowanych niniejszym regulaminem zastosowanie mają przepisy prawa
				polskiego.
			</p>

			<li>[Antoni Blonkowski BLONEKDEV]</li>

			<li>[Adres siedziby: Ulica: Mławka 25,Numer lokalu: 25,Miasto: Mławka Kod pocztowy: 13--240]</li>
			<li>NIP: [5711727874]</li>

			<li>REGON: [528658529]</li>

			<li>Data publikacji: 29.05.2024</li>
		</div>
	</body>
</html>
